img, embed, object, video {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  font: normal 400 18px/25px "Oxygen", sans-serif;
  color: #484848;
}

#header {
  text-transform: uppercase;
  position: relative;
  text-align: right;
  max-width: 900px;
  width: 85%;
  margin: 0 auto;
  display: table;
}

#logo {
  display: table-cell;
  line-height: 0;
  width: 15%;
  vertical-align: middle;
}

#rightheader {
  display: table-cell;
  vertical-align: middle;
  padding-top: 25px;
}

.hr {
  height: 3px;
  background-color: #2d3c49;
  color: #2d3c49;
  width: 85%;
  max-width: 900px;
}

.featured {
  text-transform: uppercase;
  position: relative;
  max-width: 900px;
  width: 85%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.breakpoint {
  max-width: 100%;
  display: inline-block;
  width: 300px;
}

.container {
  position: relative;
  width: 85%;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

/* Desktop */

@media only screen and (min-width: 933px) {
  .breakpoint {
    max-width: 33%;
  }
}

/* Tablets */

@media only screen and (min-width: 481px) and (max-width:932px) {
  .breakpoint {
    max-width: 49%;
  }
  #header {
    font-size: 15px;
  }
}

/* smartphones */

@media only screen and (max-width:480px) {
  .breakpoint {
    max-width: 100%;
    display: inline-block;
  }
  #header {
    font-size: 10px;
  }
  .featured {
    font-size: 15px;
  }
  .breakpoint {
    position: relative;
    width: 100%;
  }
}
